In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("Crimes2018.csv")

In [6]:
df.shape

(268719, 22)

In [9]:
df

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,11646166,JC213529,09/01/2018 12:01:00 AM,082XX S INGLESIDE AVE,0810,THEFT,OVER $500,RESIDENCE,False,True,...,8.0,44,06,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,NaN,NaN
1,11645648,JC212959,01/01/2018 08:00:00 AM,024XX N MONITOR AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,30.0,19,11,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,NaN,NaN
2,11645959,JC211511,12/20/2018 04:00:00 PM,045XX N ALBANY AVE,2820,OTHER OFFENSE,TELEPHONE THREAT,RESIDENCE,False,False,...,33.0,14,08A,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,NaN,NaN
3,11645557,JC212685,04/01/2018 12:01:00 AM,080XX S VERNON AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,6.0,44,11,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,NaN,NaN
4,11646293,JC213749,12/20/2018 03:00:00 PM,023XX N LOCKWOOD AVE,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,APARTMENT,False,False,...,36.0,19,11,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268714,12820831,JF388472,09/08/2018 12:00:00 PM,061XX S KARLOV AVE,1120,DECEPTIVE PRACTICE,FORGERY,APARTMENT,False,True,...,23.0,65,10,NaN,NaN,2018,09/09/2022 04:58:20 PM,NaN,NaN,NaN
268715,12545667,JE450917,08/04/2018 12:00:00 AM,054XX S LOCKWOOD AVE,1752,OFFENSE INVOLVING CHILDREN,AGGRAVATED CRIMINAL SEXUAL ABUSE BY FAMILY MEMBER,RESIDENCE,False,True,...,23.0,56,17,NaN,NaN,2018,10/08/2022 04:55:26 PM,NaN,NaN,NaN
268716,12822087,JF388956,01/08/2018 11:35:00 AM,085XX S LOOMIS BLVD,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,...,21.0,71,11,NaN,NaN,2018,09/10/2022 04:58:49 PM,NaN,NaN,NaN
268717,12821913,JF389622,11/20/2018 12:00:00 AM,010XX W 104TH PL,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,34.0,73,11,NaN,NaN,2018,09/10/2022 04:58:49 PM,NaN,NaN,NaN
268718,12840939,JF412259,08/15/2018 07:00:00 AM,011XX E 46TH ST,1562,SEX OFFENSE,AGGRAVATED CRIMINAL SEXUAL ABUSE,SCHOOL - PUBLIC BUILDING,False,False,...,4.0,39,17,NaN,NaN,2018,09/28/2022 04:57:03 PM,NaN,NaN,NaN

In [8]:
df.describe(include = 'all')

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
count,2.687190e+05,268719,268719,268719,268719,268719,268719,267654,268719,268719,...,268715.000000,268719.000000,268719,2.634710e+05,2.634710e+05,268719.0,268719,263471.000000,263471.000000,263471
unique,NaN,268694,123356,27968,323,33,363,156,2,2,...,NaN,NaN,26,NaN,NaN,NaN,2274,NaN,NaN,126593
top,NaN,JB458747,01/01/2018 12:00:00 AM,001XX N STATE ST,0820,THEFT,SIMPLE,STREET,False,False,...,NaN,NaN,06,NaN,NaN,NaN,05/04/2018 03:51:04 PM,NaN,NaN,"(41.883500187, -87.627876698)"
freq,NaN,3,132,976,24842,65284,29722,59063,214874,224644,...,NaN,NaN,65284,NaN,NaN,NaN,72658,NaN,NaN,470
mean,1.135576e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23.443771,36.482884,NaN,1.165006e+06,1.886592e+06,2018.0,NaN,41.844398,-87.669985,NaN
std,5.445531e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14.085924,21.457217,NaN,1.603790e+04,3.118469e+04,0.0,NaN,0.085756,0.058391,NaN
min,2.375700e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000000,1.000000,NaN,1.092706e+06,1.813897e+06,2018.0,NaN,41.644590,-87.934273,NaN
25%,1.128710e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.000000,23.000000,NaN,1.153330e+06,1.859421e+06,2018.0,NaN,41.769661,-87.712394,NaN
50%,1.137698e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24.000000,32.000000,NaN,1.166911e+06,1.894239e+06,2018.0,NaN,41.865574,-87.663284,NaN
75%,1.146692e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,35.000000,53.000000,NaN,1.176459e+06,1.908737e+06,2018.0,NaN,41.905340,-87.627842,NaN
max,1.294811e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,50.000000,77.000000,NaN,1.205119e+06,1.951535e+06,2018.0,NaN,42.022671,-87.524529,NaN

In [10]:
cat_cols = df.columns[(df.dtypes == "object").tolist()].tolist()
num_cols = df.columns[(df.dtypes != 'object').tolist()].tolist()

In [11]:
missing_vals = df.isnull().sum()
missing_vals

ID                         0
Case Number                0
Date                       0
Block                      0
IUCR                       0
Primary Type               0
Description                0
Location Description    1065
Arrest                     0
Domestic                   0
Beat                       0
District                   0
Ward                       4
Community Area             0
FBI Code                   0
X Coordinate            5248
Y Coordinate            5248
Year                       0
Updated On                 0
Latitude                5248
Longitude               5248
Location                5248
dtype: int64

In [12]:
missing_vals_cols = missing_vals[missing_vals > 0].axes[0].tolist()
missing_vals_cols

['Location Description',
 'Ward',
 'X Coordinate',
 'Y Coordinate',
 'Latitude',
 'Longitude',
 'Location']

In [13]:
df.loc[df['Location Description'].isnull()]

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
6,11223717,JB141803,02/04/2018 03:25:00 PM,044XX W WASHINGTON BLVD,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,...,28.0,26,11,NaN,NaN,2018,02/11/2018 03:57:41 PM,NaN,NaN,NaN
7,11646766,JC214025,01/01/2018 09:10:00 AM,019XX N KENMORE AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,...,43.0,7,11,NaN,NaN,2018,04/07/2019 04:05:59 PM,NaN,NaN,NaN
43,11648817,JC216081,08/21/2018 09:00:00 AM,066XX S MOZART ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,...,17.0,66,11,NaN,NaN,2018,04/09/2019 04:24:58 PM,NaN,NaN,NaN
48,11649962,JC218252,01/16/2018 10:25:00 AM,087XX S BISHOP ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,...,21.0,71,11,NaN,NaN,2018,04/10/2019 04:14:14 PM,NaN,NaN,NaN
56,11649970,JC218089,04/19/2018 03:41:00 AM,066XX S MARYLAND AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,...,5.0,42,11,NaN,NaN,2018,04/10/2019 04:14:14 PM,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268694,11688303,JC263752,01/03/2018 05:55:00 PM,014XX S DRAKE AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,...,24.0,29,11,NaN,NaN,2018,05/16/2019 04:08:26 PM,NaN,NaN,NaN
268708,12819815,JF386679,07/01/2018 07:00:00 AM,081XX S INDIANA AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,...,6.0,44,11,NaN,NaN,2018,09/08/2022 04:57:28 PM,NaN,NaN,NaN
268710,12860276,JF435795,05/12/2018 03:55:00 PM,014XX S STATE ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,...,3.0,33,11,NaN,NaN,2018,10/16/2022 04:48:53 PM,NaN,NaN,NaN
268712,12863606,JF439531,05/18/2018 12:45:00 PM,069XX S JEFFERY BLVD,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,...,5.0,43,11,NaN,NaN,2018,10/19/2022 04:52:39 PM,NaN,NaN,NaN
268716,12822087,JF388956,01/08/2018 11:35:00 AM,085XX S LOOMIS BLVD,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,...,21.0,71,11,NaN,NaN,2018,09/10/2022 04:58:49 PM,NaN,NaN,NaN

In [14]:
df['Ward'].fillna(10)

0          8.0
1         30.0
2         33.0
3          6.0
4         36.0
          ...
268714    23.0
268715    23.0
268716    21.0
268717    34.0
268718     4.0
Name: Ward, Length: 268719, dtype: float64

In [17]:
df['Ward'].fillna(10, inplace = True)

In [23]:
df.loc[df['Longitude'].isnull()]

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,11646166,JC213529,09/01/2018 12:01:00 AM,082XX S INGLESIDE AVE,0810,THEFT,OVER $500,RESIDENCE,False,True,...,8.0,44,06,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,NaN,NaN
1,11645648,JC212959,01/01/2018 08:00:00 AM,024XX N MONITOR AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,30.0,19,11,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,NaN,NaN
2,11645959,JC211511,12/20/2018 04:00:00 PM,045XX N ALBANY AVE,2820,OTHER OFFENSE,TELEPHONE THREAT,RESIDENCE,False,False,...,33.0,14,08A,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,NaN,NaN
3,11645557,JC212685,04/01/2018 12:01:00 AM,080XX S VERNON AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,6.0,44,11,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,NaN,NaN
4,11646293,JC213749,12/20/2018 03:00:00 PM,023XX N LOCKWOOD AVE,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,APARTMENT,False,False,...,36.0,19,11,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268714,12820831,JF388472,09/08/2018 12:00:00 PM,061XX S KARLOV AVE,1120,DECEPTIVE PRACTICE,FORGERY,APARTMENT,False,True,...,23.0,65,10,NaN,NaN,2018,09/09/2022 04:58:20 PM,NaN,NaN,NaN
268715,12545667,JE450917,08/04/2018 12:00:00 AM,054XX S LOCKWOOD AVE,1752,OFFENSE INVOLVING CHILDREN,AGGRAVATED CRIMINAL SEXUAL ABUSE BY FAMILY MEMBER,RESIDENCE,False,True,...,23.0,56,17,NaN,NaN,2018,10/08/2022 04:55:26 PM,NaN,NaN,NaN
268716,12822087,JF388956,01/08/2018 11:35:00 AM,085XX S LOOMIS BLVD,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,...,21.0,71,11,NaN,NaN,2018,09/10/2022 04:58:49 PM,NaN,NaN,NaN
268717,12821913,JF389622,11/20/2018 12:00:00 AM,010XX W 104TH PL,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,34.0,73,11,NaN,NaN,2018,09/10/2022 04:58:49 PM,NaN,NaN,NaN
268718,12840939,JF412259,08/15/2018 07:00:00 AM,011XX E 46TH ST,1562,SEX OFFENSE,AGGRAVATED CRIMINAL SEXUAL ABUSE,SCHOOL - PUBLIC BUILDING,False,False,...,4.0,39,17,NaN,NaN,2018,09/28/2022 04:57:03 PM,NaN,NaN,NaN

In [24]:
df['Longitude'].fillna(10, inplace = True)

In [25]:
df

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,11646166,JC213529,09/01/2018 12:01:00 AM,082XX S INGLESIDE AVE,0810,THEFT,OVER $500,RESIDENCE,False,True,...,8.0,44,06,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,10.0,NaN
1,11645648,JC212959,01/01/2018 08:00:00 AM,024XX N MONITOR AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,30.0,19,11,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,10.0,NaN
2,11645959,JC211511,12/20/2018 04:00:00 PM,045XX N ALBANY AVE,2820,OTHER OFFENSE,TELEPHONE THREAT,RESIDENCE,False,False,...,33.0,14,08A,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,10.0,NaN
3,11645557,JC212685,04/01/2018 12:01:00 AM,080XX S VERNON AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,6.0,44,11,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,10.0,NaN
4,11646293,JC213749,12/20/2018 03:00:00 PM,023XX N LOCKWOOD AVE,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,APARTMENT,False,False,...,36.0,19,11,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,10.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268714,12820831,JF388472,09/08/2018 12:00:00 PM,061XX S KARLOV AVE,1120,DECEPTIVE PRACTICE,FORGERY,APARTMENT,False,True,...,23.0,65,10,NaN,NaN,2018,09/09/2022 04:58:20 PM,NaN,10.0,NaN
268715,12545667,JE450917,08/04/2018 12:00:00 AM,054XX S LOCKWOOD AVE,1752,OFFENSE INVOLVING CHILDREN,AGGRAVATED CRIMINAL SEXUAL ABUSE BY FAMILY MEMBER,RESIDENCE,False,True,...,23.0,56,17,NaN,NaN,2018,10/08/2022 04:55:26 PM,NaN,10.0,NaN
268716,12822087,JF388956,01/08/2018 11:35:00 AM,085XX S LOOMIS BLVD,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,...,21.0,71,11,NaN,NaN,2018,09/10/2022 04:58:49 PM,NaN,10.0,NaN
268717,12821913,JF389622,11/20/2018 12:00:00 AM,010XX W 104TH PL,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,34.0,73,11,NaN,NaN,2018,09/10/2022 04:58:49 PM,NaN,10.0,NaN
268718,12840939,JF412259,08/15/2018 07:00:00 AM,011XX E 46TH ST,1562,SEX OFFENSE,AGGRAVATED CRIMINAL SEXUAL ABUSE,SCHOOL - PUBLIC BUILDING,False,False,...,4.0,39,17,NaN,NaN,2018,09/28/2022 04:57:03 PM,NaN,10.0,NaN

"WHERE" statement, söker efter alla rader med värdet 10 i column Longitude

In [29]:
df.loc[df['Longitude'] == 10]

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,11646166,JC213529,09/01/2018 12:01:00 AM,082XX S INGLESIDE AVE,0810,THEFT,OVER $500,RESIDENCE,False,True,...,8.0,44,06,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,10.0,NaN
1,11645648,JC212959,01/01/2018 08:00:00 AM,024XX N MONITOR AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,30.0,19,11,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,10.0,NaN
2,11645959,JC211511,12/20/2018 04:00:00 PM,045XX N ALBANY AVE,2820,OTHER OFFENSE,TELEPHONE THREAT,RESIDENCE,False,False,...,33.0,14,08A,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,10.0,NaN
3,11645557,JC212685,04/01/2018 12:01:00 AM,080XX S VERNON AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,6.0,44,11,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,10.0,NaN
4,11646293,JC213749,12/20/2018 03:00:00 PM,023XX N LOCKWOOD AVE,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,APARTMENT,False,False,...,36.0,19,11,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,10.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268714,12820831,JF388472,09/08/2018 12:00:00 PM,061XX S KARLOV AVE,1120,DECEPTIVE PRACTICE,FORGERY,APARTMENT,False,True,...,23.0,65,10,NaN,NaN,2018,09/09/2022 04:58:20 PM,NaN,10.0,NaN
268715,12545667,JE450917,08/04/2018 12:00:00 AM,054XX S LOCKWOOD AVE,1752,OFFENSE INVOLVING CHILDREN,AGGRAVATED CRIMINAL SEXUAL ABUSE BY FAMILY MEMBER,RESIDENCE,False,True,...,23.0,56,17,NaN,NaN,2018,10/08/2022 04:55:26 PM,NaN,10.0,NaN
268716,12822087,JF388956,01/08/2018 11:35:00 AM,085XX S LOOMIS BLVD,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,...,21.0,71,11,NaN,NaN,2018,09/10/2022 04:58:49 PM,NaN,10.0,NaN
268717,12821913,JF389622,11/20/2018 12:00:00 AM,010XX W 104TH PL,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,34.0,73,11,NaN,NaN,2018,09/10/2022 04:58:49 PM,NaN,10.0,NaN
268718,12840939,JF412259,08/15/2018 07:00:00 AM,011XX E 46TH ST,1562,SEX OFFENSE,AGGRAVATED CRIMINAL SEXUAL ABUSE,SCHOOL - PUBLIC BUILDING,False,False,...,4.0,39,17,NaN,NaN,2018,09/28/2022 04:57:03 PM,NaN,10.0,NaN

In [31]:
df['Ward'].fillna(df['Ward'].median(skipna = True), inplace = True)

In [32]:
num_missing_rows = df.isnull().any(axis =1).sum()

In [33]:
print(num_missing_rows)

5886

In [42]:
num_missing_rows2 = df.isnull().any(axis =1)

In [47]:
num_missing_rows2

0         True
1         True
2         True
3         True
4         True
          ...
268714    True
268715    True
268716    True
268717    True
268718    True
Length: 268719, dtype: bool

In [48]:
df.dropna(axis =0, inplace = True)
df.reset_index(inplace = True)

In [50]:
num_missing_rows2 = df.isnull().any(axis =1)

In [51]:
num_missing_rows2

0         False
1         False
2         False
3         False
4         False
          ...
262828    False
262829    False
262830    False
262831    False
262832    False
Length: 262833, dtype: bool

In [52]:
df

,index,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,152,11431014,JB415266,08/30/2018 11:50:00 AM,016XX W CHICAGO AVE,2820,OTHER OFFENSE,TELEPHONE THREAT,GOVERNMENT BUILDING/PROPERTY,True,...,1.0,24,08A,1165417.0,1905418.0,2018,06/04/2019 04:01:14 PM,41.896063,-87.667903,"(41.896063478, -87.667902742)"
1,154,11458569,JB451615,09/25/2018 03:45:00 PM,068XX S WASHTENAW AVE,0560,ASSAULT,SIMPLE,"SCHOOL, PUBLIC, BUILDING",False,...,17.0,66,08A,1159554.0,1859215.0,2018,06/04/2019 04:01:14 PM,41.769400,-87.690706,"(41.769399886, -87.690705813)"
2,155,11492590,JB496541,10/30/2018 04:59:00 PM,040XX W 30TH ST,041A,BATTERY,AGGRAVATED: HANDGUN,SIDEWALK,True,...,22.0,30,04B,1149760.0,1884400.0,2018,06/04/2019 04:01:14 PM,41.838706,-87.725954,"(41.838706452, -87.72595418)"
3,156,11514713,JB525811,11/23/2018 01:30:00 AM,059XX W IOWA ST,1753,OFFENSE INVOLVING CHILDREN,SEX ASSLT OF CHILD BY FAM MBR,RESIDENCE,True,...,29.0,25,02,1136588.0,1905390.0,2018,06/04/2019 04:01:14 PM,41.896551,-87.773788,"(41.896551396, -87.773787663)"
4,425,11203556,JB115393,01/13/2018 08:24:00 PM,017XX W COLUMBIA AVE,041A,BATTERY,AGGRAVATED - HANDGUN,ALLEY,False,...,49.0,1,04B,1163373.0,1944877.0,2018,03/25/2020 03:45:43 PM,42.004384,-87.674296,"(42.004384227, -87.674295522)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262828,268704,11368921,JB334585,07/04/2018 02:40:00 AM,009XX N MASSASOIT AVE,0550,ASSAULT,AGGRAVATED POLICE OFFICER - HANDGUN,SIDEWALK,False,...,29.0,25,04A,1137851.0,1905780.0,2018,10/11/2022 04:45:59 PM,41.897599,-87.769139,"(41.897598907, -87.769139392)"
262829,268705,11524969,JB539419,12/04/2018 08:15:00 AM,089XX S STONY ISLAND AVE,031A,ROBBERY,ARMED - HANDGUN,CONVENIENCE STORE,False,...,8.0,48,03,1188475.0,1846086.0,2018,10/11/2022 04:45:59 PM,41.732731,-87.585114,"(41.732730806, -87.585114125)"
262830,268706,11545471,JB565976,12/24/2018 12:00:00 PM,088XX S DANTE AVE,031A,ROBBERY,ARMED - HANDGUN,STREET,False,...,8.0,48,03,1187330.0,1846624.0,2018,10/11/2022 04:45:59 PM,41.734234,-87.589292,"(41.734234372, -87.589291682)"
262831,268711,11411956,JB390333,08/12/2018 02:43:00 PM,012XX S AVERS AVE,041A,BATTERY,AGGRAVATED - HANDGUN,SIDEWALK,True,...,24.0,29,04B,1150904.0,1894227.0,2018,10/19/2022 04:49:39 PM,41.865651,-87.721499,"(41.865650668, -87.721499289)"
262832,268713,11533851,JB551085,12/12/2018 05:00:00 PM,006XX E 89TH ST,1753,OFFENSE INVOLVING CHILDREN,SEXUAL ASSAULT OF CHILD BY FAMILY MEMBER,RESIDENCE,False,...,6.0,44,02,1181961.0,1846105.0,2018,09/24/2022 04:46:07 PM,41.732936,-87.608977,"(41.732935859, -87.608977015)"

In [53]:
df.loc[df['Longitude'].isnull()]

Empty DataFrame
Columns: [index, ID, Case Number, Date, Block, IUCR, Primary Type, Description, Location Description, Arrest, Domestic, Beat, District, Ward, Community Area, FBI Code, X Coordinate, Y Coordinate, Year, Updated On, Latitude, Longitude, Location]
Index: []

[0 rows x 23 columns]

In [55]:
df.drop(['Latitude','Longitude'],axis = 1, inplace = True)

In [58]:
df

,index,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,...,Beat,District,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Location
0,152,11431014,JB415266,08/30/2018 11:50:00 AM,016XX W CHICAGO AVE,2820,OTHER OFFENSE,TELEPHONE THREAT,GOVERNMENT BUILDING/PROPERTY,True,...,1215,12,1.0,24,08A,1165417.0,1905418.0,2018,06/04/2019 04:01:14 PM,"(41.896063478, -87.667902742)"
1,154,11458569,JB451615,09/25/2018 03:45:00 PM,068XX S WASHTENAW AVE,0560,ASSAULT,SIMPLE,"SCHOOL, PUBLIC, BUILDING",False,...,831,8,17.0,66,08A,1159554.0,1859215.0,2018,06/04/2019 04:01:14 PM,"(41.769399886, -87.690705813)"
2,155,11492590,JB496541,10/30/2018 04:59:00 PM,040XX W 30TH ST,041A,BATTERY,AGGRAVATED: HANDGUN,SIDEWALK,True,...,1031,10,22.0,30,04B,1149760.0,1884400.0,2018,06/04/2019 04:01:14 PM,"(41.838706452, -87.72595418)"
3,156,11514713,JB525811,11/23/2018 01:30:00 AM,059XX W IOWA ST,1753,OFFENSE INVOLVING CHILDREN,SEX ASSLT OF CHILD BY FAM MBR,RESIDENCE,True,...,1511,15,29.0,25,02,1136588.0,1905390.0,2018,06/04/2019 04:01:14 PM,"(41.896551396, -87.773787663)"
4,425,11203556,JB115393,01/13/2018 08:24:00 PM,017XX W COLUMBIA AVE,041A,BATTERY,AGGRAVATED - HANDGUN,ALLEY,False,...,2432,24,49.0,1,04B,1163373.0,1944877.0,2018,03/25/2020 03:45:43 PM,"(42.004384227, -87.674295522)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262828,268704,11368921,JB334585,07/04/2018 02:40:00 AM,009XX N MASSASOIT AVE,0550,ASSAULT,AGGRAVATED POLICE OFFICER - HANDGUN,SIDEWALK,False,...,1511,15,29.0,25,04A,1137851.0,1905780.0,2018,10/11/2022 04:45:59 PM,"(41.897598907, -87.769139392)"
262829,268705,11524969,JB539419,12/04/2018 08:15:00 AM,089XX S STONY ISLAND AVE,031A,ROBBERY,ARMED - HANDGUN,CONVENIENCE STORE,False,...,413,4,8.0,48,03,1188475.0,1846086.0,2018,10/11/2022 04:45:59 PM,"(41.732730806, -87.585114125)"
262830,268706,11545471,JB565976,12/24/2018 12:00:00 PM,088XX S DANTE AVE,031A,ROBBERY,ARMED - HANDGUN,STREET,False,...,412,4,8.0,48,03,1187330.0,1846624.0,2018,10/11/2022 04:45:59 PM,"(41.734234372, -87.589291682)"
262831,268711,11411956,JB390333,08/12/2018 02:43:00 PM,012XX S AVERS AVE,041A,BATTERY,AGGRAVATED - HANDGUN,SIDEWALK,True,...,1011,10,24.0,29,04B,1150904.0,1894227.0,2018,10/19/2022 04:49:39 PM,"(41.865650668, -87.721499289)"
262832,268713,11533851,JB551085,12/12/2018 05:00:00 PM,006XX E 89TH ST,1753,OFFENSE INVOLVING CHILDREN,SEXUAL ASSAULT OF CHILD BY FAMILY MEMBER,RESIDENCE,False,...,633,6,6.0,44,02,1181961.0,1846105.0,2018,09/24/2022 04:46:07 PM,"(41.732935859, -87.608977015)"

In [60]:
df.columns

Index(['index', 'ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type',
       'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat',
       'District', 'Ward', 'Community Area', 'FBI Code', 'X Coordinate',
       'Y Coordinate', 'Year', 'Updated On', 'Location'],
      dtype='object')

In [61]:
df.sort_values(["Date","IUCR"],ascending=[True, False], inplace = True)
df.reset_index(inplace = True)

In [63]:
pattern = '|'.join(['\\(','\\)'])
df = pd.concat([df,df["Location"].str.replace(pat = pattern,repl = "").str.split(",",expand = True)], axis = 1)# Rename columns
df.rename(index =str, columns = {0:'Latitude',1:'Longitude'}, inplace=True)# Convert all columns to lowercase
df.rename(str.lower, axis = 1, inplace= True)

C:\Users\charl\AppData\Local\Temp\ipykernel_9816\1673129462.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df = pd.concat([df,df["Location"].str.replace(pat = pattern,repl = "").str.split(",",expand = True)], axis = 1)# Rename columns

In [64]:
pd.DataFrame(df.groupby(["date","location description"])["theft"].sum()).reset_index()

KeyError: 'Column not found: theft'