# Inlämningsuppgift 4, normalisering av data

In [1]:
import pandas as pd
import numpy as np

#### Formeln för normalisering som används här kommer vara: **$V = (x - min) / (max - min)$** , kallad min-max normalisering vilket leder till att värdena ligger mellan 0 och 1
#### Programmet är uppbyggt i en klass, gjord för att kunna användas framöver med andra csv-filer etc. Klassen innehåller olika funktioner där man kan städa data på olika sätt samt normalisera och spara resultaten på 2 olika sätt.


### Class Data:
#### En klass för Data-hanteringen. Den kan läsa in csv filer och skapa objekt av dom, köra pre-processing samt min-max-normalisering av data. 

### def data_preprocess:
#### Pre-process funktionen låter användaren välja vad som ska göras med NaN-värden genom att skriva in parametrar. "show" visar NaN värdena, "drop" droppar dom raderna som innehåller NaN, och 0 sätter NaN till 0.


### def minMax_norm, def minMax_norm_replace:
#### Funktionerna som gör själva normaliseringen valde jag att göra två varianter på, den första (minMax_norm) skapar nya kolumner med dom normaliserade värdena, och den andra (minMax_norm_replace) skriver över värdena i kolumnerna som redan finns. Man kallar på funktionen och passar dataframen som man vill normalisera som parameter och sedan utförs beräkningen.

### def set_columns
#### En funktion som loopar igenom kolumnerna i dataframen och kör en if-sats där den kollar om alla värden i kolumnen är int/float med hjälp av python-funktionen all(), isinstance och en for-loop, vilket returnerar True/False för varje kolumn. Den kollar också om det finns bool-värden eller kolumner som heter "index", "idx" eller "ix" (några vanliga namn för index) och skippar dessa, då index inte behövs/ska normaliseras och bool-värden kan uppfattas som integers (1 och 0) vilket skapar problem i normaliserings-beräkningen.
#### Namnen på kolumnerna som är true sparas i en variabel som sen passas till funktionerna som normaliserar för att tala om vilka kolumner som ska normaliseras.

In [2]:
class Data:
    value = None
    columns_to_normalize = []

    def __init__(self, csv):
        self.csv_file = csv

    @staticmethod
    def read_csv():
        csv_dataframe = pd.read_csv(csv.csv_file)
        return csv_dataframe

    @classmethod
    def data_preprocess(cls, dataframe, value):
        cls.value = value
        print(f"Number of NaN values:\n{dataframe.isnull().sum()}")

        if value == "show":
            print(dataframe.isnull().sum())

        elif value == "drop":
            dataframe.dropna(inplace=True)

        elif value == 0:
            dataframe.fillna(0, inplace=True)
            print(f"\nChanged NaN values to 0.\n{dataframe.isnull().sum()}")

    @classmethod
    def set_columns(cls, dataframe):
        if "index" or "idx" or "ix" in all(dataframe.columns):
            for col in dataframe.columns[1:]:
                if all(isinstance(x, (int, float)) for x in dataframe[col]):
                    if not dataframe[col].dtype in ['bool']:
                        Data.columns_to_normalize.append(col)
        else:
            for col in dataframe.columns:
                if all(isinstance(x, (int, float)) for x in dataframe[col]):
                    if not dataframe[col].dtype in ['bool']:
                        Data.columns_to_normalize.append(col)

        return print(f"These are the columns that will be normalized: \n{Data.columns_to_normalize}")

    @staticmethod
    def min_max_norm(dataframe):
        for column in dataframe[Data.columns_to_normalize]:
            col_min = dataframe[column].min()
            col_max = dataframe[column].max()
            dataframe[column] = (dataframe[column] - col_min) / (col_max - col_min)

    @staticmethod
    def save_to_csv(dataframe, file_name):
        dataframe.to_csv(file_name + ".csv", index=False)

#### Kallar på klassen Data och skickar in csv-filen som parameter, som sedan skickas vidare till funktionen read_csv. Skapar också ett omodifierat objekt av csv:n så att man har en "backup"

In [3]:
csv = Data("Automobile_data.csv")
df = csv.read_csv()

#### Här skapas objekt av dataframes för att utföra modifieringar på, på det här sättet blir det enkelt att skapa hur många man vill för att sen kunna modifiera på olika sätt utan att behöva tänka på att man förstör i originalet

In [4]:
df_norm = csv.read_csv()

#### Här väljer jag att sätta NaN värdena till 0 med min Pre-process funktion.

In [5]:
Data.data_preprocess(df_norm, 0)

Number of NaN values:
index               0
company             0
body-style          0
wheel-base          0
length              0
engine-type         0
num-of-cylinders    0
horsepower          0
average-mileage     0
price               3
dtype: int64

Changed NaN values to 0.
index               0
company             0
body-style          0
wheel-base          0
length              0
engine-type         0
num-of-cylinders    0
horsepower          0
average-mileage     0
price               0
dtype: int64

In [6]:
df_norm

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
...,...,...,...,...,...,...,...,...,...,...
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

#### Här kallar vi på funktionen som kollar och bestämmer vilka kolumner som ska normaliseras.

In [7]:
Data.set_columns(df_norm)

These are the columns that will be normalized:
['wheel-base', 'length', 'horsepower', 'average-mileage', 'price']

#### Här utför vi normaliseringen på csv:n. Kolumnernas värden ersätts med dom nya normaliserade värdena.

In [8]:
Data.min_max_norm(df_norm)

In [9]:
df_norm

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,0.006154,0.413433,dohc,four,0.262500,0.235294,0.297247
1,1,alfa-romero,convertible,0.006154,0.413433,dohc,four,0.262500,0.235294,0.363436
2,2,alfa-romero,hatchback,0.187692,0.449254,ohcv,six,0.441667,0.176471,0.363436
3,3,audi,sedan,0.350769,0.529851,ohc,four,0.225000,0.323529,0.307269
4,4,audi,sedan,0.338462,0.529851,ohc,five,0.279167,0.147059,0.384361
...,...,...,...,...,...,...,...,...,...,...
56,81,volkswagen,sedan,0.273846,0.456716,ohc,four,0.154167,0.411765,0.175661
57,82,volkswagen,sedan,0.273846,0.456716,ohc,four,0.016667,0.705882,0.176101
58,86,volkswagen,sedan,0.273846,0.456716,ohc,four,0.216667,0.382353,0.220154
59,87,volvo,sedan,0.489231,0.711940,ohc,four,0.275000,0.294118,0.285022
60,88,volvo,wagon,0.489231,0.711940,ohc,four,0.275000,0.294118,0.295485

#### Kallar på funktionen som sparar ner dataframen som en csv, tar in 2 parametrar som är vilken dataframe och vilket namn den ska få. Filen sparas i samma mapp som notebook:en ligger i.

In [10]:
Data.save_to_csv(df_norm, "Normaliserad_csv")